[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
clap-verbosity-flag = "3.0.4"
env_logger = "0.11.8"
frontend = { version = "0.1.0", path = "../frontend" }
log = "0.4.29"
tokio = "1.48.0"
